option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "techbackend.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

container_commands:
  
  01_collectstatic:
      command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
  02_superuser:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py awscreatesuperuser"
    leader_only: true

  
    