*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.comment-section-container{
    width: 100%;
    min-height: 40vh;
    background-color: white;
}
.comment-section-container-header{
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: var(--color-2);
}
.comment-section-min-container{
    width: 100%;
    padding: 40px 0;
    margin-top: 20px;
    min-height: min-content;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

/* comment styling */
.comment-container{
    width: 40%;
    height: 20vh;
    padding: 10px 20px;
    margin: 30px;
    background-color: white;
}
.comment-container:nth-child(odd){
    
}
.comment-container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment-container-header h4{
    font-size: 20px;
    color: var(--color-2);
}
.comment-container-header p{
    color: slategray;
}
.comment-container-body{
    margin-top: 10px;
}
.comment-container-body p{
    font-size: 15px;
    color: slategray;
}

/* comment form styling */
.comment-form-container{
    width: 100%;
    min-height: 50vh;
    padding: 80px 60px;
    background-color: white;
}
.comment-form-container p{
    color: slategray;
}
.comment-form-container-min{
    margin-top: 20px;
}
.comment-error-container{
    width: 600px;
    border: 1px solid red;
    height: 25px;
    color: red;
    padding:0 10px;
    font-size: 15px;
}
.comment-error-container-hide{
    display: none;
}
.form-group-comment{
    width: 600px;
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-group-comment input{
    width: 250px;
    height: 35px;
    padding: 10px;
}
.form-group-comment input::placeholder{
    font-size: 17px;
}
.comment-form-container-min-form-input textarea{
    padding: 10px 20px;
    outline: none;
    width: 600px;
    height: 120px;
    font-size: 15px;
}
.comment-btn{
    margin-top: 40px;
    display: inline-block;
    width: 250px;
    padding: 10px;
    color: white;
    border: none;
    outline: none;
    background-color: var(--color-2);
}
.comment-btn:hover{
    background-color: slategray;
}

/* comment form phone view styling */


@media screen and (max-width:786px){
    .comment-section-min-container{
        width: 100%;
        padding: 0;
        
    }
    .comment-form-container{
        margin: 20px 0;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .comment-error-container{
       width: 100%;
       height: 25px;
       border: 1px solid red; 
    }
    .comment-form-container-min-form-input textarea{
        width: 100%;
        height: 25vh;
    }
    .comment-btn{
        width: 100%;
    }
    .form-group-comment{
        width: 100%;
        margin: 40px 0;
        display: flex;
        flex-direction: column;
    }
    .form-group-comment input{
        width: 100%;
        height: 55px;
        padding: 10px;
    }
    .form-group-comment input{
        margin-top: 40px;
    }
    .form-group-comment input:first-child{
        margin-top: 0;
    }
}

/* comment boxes media styling */
@media screen and (max-width:768px){
    .comment-container{
        min-width: 80%;
        min-height: 25vh;
        padding: 10px 15px;
        margin: 25px;
        background-color: white;
    }
    .comment-container:nth-child(odd){
        
    }
    .comment-container-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .comment-container-header h4{
        font-size: 20px;
        color: var(--color-2);
    }
    .comment-container-header p{
        color: slategray;
    }
    .comment-container-body{
        margin-top: 10px;
    }
    .comment-container-body p{
        font-size: 15px;
        color: slategray;
    }
    
}