:root{
    --color-grey: rgb(73, 77, 88);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contact-container{
    padding: 0 40px;
    width: 100%;
    height: 90.5vh;
    /* background-image: linear-gradient(rgba(86, 86, 86,0.6),rgba(86, 86, 86,0.6),rgba(86, 86, 86,0.6)),url("../assets/images/contact-background.jpg");
    background-position: center;
    background-size: contain; */
    background-color: whitesmoke;
}
.contact-header{
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    color: slategray;
}
.contact-form-container{
    padding: 10px 0;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.contact-form{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    background: white;

}

.min-container-1{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-container{
    background-color: white;
    font-size: 20px;
    color: red;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    visibility: hidden;
}
.input-container{
    width: 100%;
    height: 300px;
    padding: 10px;
    display: flex;
    align-items: center;
    
}
.column-container{
    flex-basis: 50%;
    width: 300px;
    height: 270px;
}
.column-container-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.form-input input{
    width: 100%;
    height: 50px;
    padding: 10px;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid var(--color-1);
    background-color: transparent;
    color: black;
}
.form-input input::placeholder{
    color: black;
}
.form-input small,.column-container-2 small{
    color: red;
    font-size: 17px;
}
.column-container-2{
    padding: 10px;
}
.normal-height{
    padding: 10px;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--color-1);
    color: var(--color-1);
}
.reduced-height{
    padding: 10px;
    width: 100%;
    height: 90%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--color-1);
    color: var(--color-1);
}
.column-container-2 textarea::placeholder{
    color: var(--color-1);
}

.btn-container button{
    height: 80%;
    width: 40%;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    background-color: var(--color-2);
    border-color: white;
    color: white;
    transition: all .3s;
}
.btn-container button:hover{
    background-color: slategray;
    color: white;
}
.contact-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (max-width:600px){
    .contact-container{
        min-height: 90vh;
        padding: 0 20px;

    }
    .contact-form-container{
        min-height: 30vh;
        padding: 0;
    }
    .contact-header{
        font-size: 25px;
        padding-top: 20px;
        height: 90px;
        padding-bottom: 10px;
    }
    .contact-form{
        min-height: 40vh;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
    }
    .input-container{
        min-height: 80vh;
        display: block;
    }
    .form-input{
        margin-top: 19px;
        width: 100%;
    }
    .form-input:first-child{
        margin-top: 0;
    }
    .form-input input{
        width: 100%;
    }
    .contact-footer{
        width: 100%;
        position: absolute;
        bottom: -30%;
        left: 0;
        display: none;
    }
    
    .column-container-1{
        display: block;
        height: 37vh;
    }
    .column-container-2{
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 20vh;
    }
    .column-container-1,.column-container-2{
        padding: 0;
        width: 100%;
        
    }
    
    .column-container-2 textarea{
        margin-top: 0;
        height: 100%;
    }
    
    .btn-container button{
        margin-bottom: 160px;
        height: 40px;
        width: 170px;
    }
    
}