:root{
    /* --color-1:  darkorange; */
    --color-3:  darkorange;
    --color-2:  rgb(19, 150, 150);
    --sm-pad:10px;
    /* --color-2: #e0096d; */
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home-container{
    width: 100%;
    min-height: 90.5vh;
}
.home-column-1{
    width: 100%;
    height: 90vh;
    background-image:linear-gradient(rgba(86,86,86,.4),rgba(86,86,86,.4),rgba(86,86,86,.2)),url("../assets/images/IMG-20230303-WA0027.jpg") ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 60px;
}
.home-column-1-1{
    width: 60%;
    height: 100%;
    padding-top: 60px;
}
.home-column-1-header{
    font-size: 35px;
    font-weight: 500;
    padding-top: 10px;
    color: white;
}
.home-column-1-p{
    margin-top: 50px;
    color: white;
}
.home-column-1-header span{
    color: var(--color-2);
}
.home-column-1-links-container{
    width: 60%;
    margin-top: 70px;
    display: flex;
}
.home-link{
    display: inline-block;
    width: 500px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: var(--color-2);
}
.home-link:last-child{
    margin-left: 30px;
}
.home-link:hover{
    background-color: slategray;
}
/* .home-column-2{
    width: 100%;
    height: 70vh;
    padding: 0 60px;
    background: whitesmoke;
} */
.home-column-2-1{
    padding: 40px 60px;
    width: 100%;
    min-height: 70vh;
    background: whitesmoke;
}
.home-column-2-1-header{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: var(--color-3);
}
.home-column-2-1-boxes{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:786px){
    .home-column-1{
        min-height: 80vh;
        padding-left: var(--sm-pad);
        padding-right: var(--sm-pad);
    }
    .home-column-1-1{
        width: 100%;
        padding-top: 0;
        min-height: 100vh;
    }
    .home-column-1-header{
        font-size: 25px;
        padding-top: 40px;
    }
    .home-column-1-p{
        font-size: 15px;
        color: white;
    }
    .home-column-2-1{
        flex-wrap: wrap;
        min-height: 90vh;
        padding-left: var(--sm-pad);
        padding-right: var(--sm-pad);

    }
    .home-column-2-1-header{
        font-size: 25px;
    }
    .home-column-2{
        padding: 0;
        display: flex;
        min-height: 160vh;
        align-items: center;
        justify-content: center;
    }
    .home-column-2-1-boxes{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .home-column-1-links-container{
        width: 100%;
        display: block;
        margin-top: 40px;
    }
    .home-link{
        width: 270px;
        padding: 5px 3px;
        padding-bottom: 7px;
        margin-top: 30px;
        font-size: 23px;
    }
    .home-link:last-child{
        margin-left: 0;
    }
    .home-link:first-child{
        margin-top: 0;
    }
    .home-column-1-p{
        margin-top: 20px;
    }
}