.modal-container{
    width: 500px;
    height: 250px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background-color: var(--pre-color);
    z-index: 4;
    text-align: center;
    transition: transform .3s;
    border-radius: 5px;
}
.open-modal{
    transform: translate(-50%,-50%) scale(1);
}
.modal-header{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: var(--secondary);
}

.circle{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    border-radius: 50%;
}
.modal-header-icon{
    font-size: 45px;
    color: white;
}
.modal-body{
    padding-top: 20px;
}
.modal-body h2{
    text-transform: capitalize;
    color: var(--secondary);
}
.modal-body p{
    margin-top: 20px;
    color: var(--primary);
}
.modal-body button{
    display: inline;
    width: 190px;
    height: 35px;
    margin-top: 25px;
    border: none;
    color: white;
    font-size: 20px;
    background-color: var(--secondary);
    cursor: pointer;
}
.modal-body button:hover{
    opacity: .9;
}

@media screen and (max-width:600px) {
    .modal-container{
        z-index: 9;
        top: 50%;
        width: 85%;
        min-height: 120px;
    }
    .modal-header{
        height: 20%;
        padding: 30px 0;
    }
    .circle{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid white;
        border-radius: 50%;
    }
    .modal-header-icon{
        font-size: 30px;
        color: white;
    }
    .modal-body{
        padding-top: 15px;
    }
    .modal-body h2{
        text-transform: capitalize;
    }
    .modal-body p{
        font-size: 15px;
    }
    .modal-body button{
        display: inline;
        width: 190px;
        height: 35px;
        margin-top: 25px;
        border: none;
        color: white;
        font-size: 20px;
        background-color: var(--secondary);
        cursor: pointer;
    }
    .modal-body button:hover{
        opacity: 1;
    }
    
    
}

/* value box styling */
.value-box-container{
    width: 270px;
    height: 240px;
    background: white;
    padding: 20px 20px;
    text-align: center;
    
}
.value-box-container h2{
    text-transform: capitalize;
    color: var(--color-3);
    font-family: var(--headers-font);

}
.value-box-container p{
    margin-top: 35px;
    text-align: center;
    font-size: 15px;
    color: var(--color-1);
}

@media screen and (max-width:600px){
    .value-box-container{
        width: 80%;
        height: 170px;
        margin-top: 50px; 
        padding: 10px;   
    }
    .value-box-container:first-child{
        margin-top: 0;
    }
    .value-box-container p{
        margin-top: 20px;
        font-size: 14px;
    }
    .value-box-container h2{
        font-size: 22px;
        font-weight: 370;
    }
}