
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: white;
    padding-left:60px;
    padding-right: 40px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}
.navbar-header{
    color: var(--color-2);
    font-size: 30px;
}
.navbar-header span{
    color: slategray;
}
.navbar-nav{
    display: flex;
}

.navbar-link{
    display: inline-block;
    width: 120px;
    text-align: center;
    margin-left: 15px;
    height: 35px;
    font-size: 20px;
    color: slategray;
    text-transform: capitalize;
    text-decoration: none;
    border: 1px solid var(--color-2);
}
.navbar-link:hover{
    background: var(--color-2);
    color: white;
    border: none;
}
.navbar-nav ul{
    list-style: none;
}
.navbar-nav ul li{
    display: inline-block;
    width: 120px;
    text-align: center;
    margin-left: 15px;
    height: 35px;
    position: relative;
}
.sign-in-link{
    position: relative;
}
.sign-in-link-text{
    position: absolute;
    margin-top: 15px;
    background-color: aliceblue;
    min-width: 170px;
    font-size: 14px;
    display: block;
    background-color: slategray;
    text-transform: lowercase;
    transition: all 2s;
}
.hide-text{
    position: absolute;
    margin-top: 15px;
    background-color: aliceblue;
    min-width: 170px;
    font-size: 15px;
    display: none;
    transition: all 2s;
}
.navbar-nav ul li::before{
    content: "";
    position: absolute;
    width: 0;
    height: 8%;
    bottom: 0;
    left: 0;
    background-color: var(--color-2);
    transition: all .7s;
}
.navbar-nav ul li:hover::before{
    width: 90%;
}
.navbar-list-link{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: slategray;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 17px;
    transition: color .2s;
    font-weight: bold;
    text-transform: capitalize;
}
.navbar-list-link:hover{
    color: var(--color-2);
}
.navbar-icon{
    display: none;
}

@media screen and (max-width:768px) {
    .navbar{
        z-index: 3;
        padding: 0 var(--sm-pad);
    }
    .navbar-nav{
        position: fixed;
        top: 7.5%;
        right: 0;
        width: 75%;
        height: 100%;
        transition: all .6s;
        padding-right: 10px;
        background-color: white;
        display: block;
    }
    .collapse{
        position: fixed;
        top: 7.5%;
        right: -450px;
        width: 75%;
        height: 100%;
        padding-right: 10px;
        transition: all .6s;
        background-color: white;
        display: block;
    }
    .navbar-icon{
        display: block;
        font-size: 30px;
        color: var(--color-2);
        /* color: rgb(10, 238, 10); */
        z-index: 3;
    }
    .navbar-nav ul li::before{
        width: 0;
        height: 0;
    }
    .navbar-nav ul li{
        width: 100%;
        height: 60px;
        display: block;
        margin: 0;
        margin-left: 6px;
        border-bottom: 1px solid var(--color-2);
        
    }
    .navbar-nav ul li:hover{
        background-color: var(--color-2);
        border-bottom: none;
    }
    .navbar-list-link{
        font-size: 20px;
    }
    .navbar-nav ul li:hover .navbar-list-link{
        color: white;
    }
    .navbar-list-link{
        display: flex;
        align-items: center;
        justify-content: center;
        color: slategray;
    }
    .navbar-links{
        margin-top: 60px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0;
    }
    .navbar-link{
        display: block;
        height: 50px;
        margin-left: 6px;
        width: 100%;
        padding: 10px;
        font-size: 23px;
        font-weight: 500;
        margin-top: 30px;
        
    }
    .sign-in-link-text{
        display: none;
    }
}