.order-container{
    width: 70%;
    min-height: 70%;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 2;

}
.order-error-container{
    width: 82%;
    height: 30px;
    color: red;
    background-color: whitesmoke;
    padding-top: 3px;
    visibility: hidden;
    text-align: center;
}
.order-container form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.form-group-2{
    width: 40%;
    margin: 10px;
    height: 60px;
}
.form-group-2 label{
    color: var(--color-1);
}
.form-group-2 input{
    width: 100%;
    height: 35px;
    outline: none;
    padding: 10px;
    font-size: 15px;
    border:1px solid var(--color-1);
}
.form-group-2 select{
    width: 100%;
    height: 35px;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    border: 1px solid var(--color-1);

}
.form-group-text-2{
    margin-top: 10px;
    width: 82%;
}
.form-group-text-2 textarea{
    width: 100%;
    height: 100px;
    font-size: 15px;
    outline: none;
    padding: 10px;
    border: 1px solid var(--color-1);
}
.form-group-text-2 label{
    color: var(--color-1);
}
.btn-container-2{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.btn-container-2 button{
    width: 40%;
    height: 40px;
    font-size: 20px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    color: white;
    background-color: var(--color-4);
    transition: background .2s;
}
.btn-container-2 button:hover{
    background-color: var(--color-2);
}


@media screen and (max-width:600px){
    .order-container{
        margin-top: 230px;
        height: 130vh;
        width: 80%;
    }
    .form-group-2{
        width: 100%;
    }
    .form-group-text-2{
        width: 93%;
    }
    .form-group-text-2 textarea{
        height: 130px;
    }
    .btn-container-2{
        margin-top: 40px;
    }
    .btn-container-2 button{
        width: 170px;
    }
}

/* order-container starts here */
.order-container-main{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}
.order-container-main-header{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: slategray;
    padding-top: 30px;
}

@media screen and (max-width:600px){
    .order-container-main{
        height: 170vh;
        padding: 0 40px;
    }
    .order-container-main-header{
        font-size: 20px;
    }
}