
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.service-container{
    width: 100%;
    min-height: 90vh;
}

.service-min-container-1{
    width: 100%;
    min-height: 25vh;
    background-image:linear-gradient(rgba(86, 86, 86,0.4),rgba(86, 86, 86,0.4),rgba(86, 86,86,0.4)),url("../assets/images/smiling-white-guy.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 90px 40px;
    
}
.service-min-container-1-header{
    font-size: 40px;
    font-weight: 500;
    color: white;
}
.tech-name{
    color: slategray;
}
.service-min-container-1 p{
    margin-top: 30px;
    text-align: center;
    color: whitesmoke;
}
.percent{
    color: slategray;
    font-weight: bold;
}
.service-min-container-1 button{
    display: inline-block;
    margin-top: 40px;
    width: 190px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 20px;
    border: none;
    color: var(--color-1);
    background-color: white;
}
.service-min-container-1 button:hover{
    background-color: slategray;
    color: white;
}

.service-min-container-2-1{
    background-color: whitesmoke;
}
.service-min-container-2-1-header{
    text-align: center;
    padding: 40px 0;
    font-size: 40px;
    font-weight: 400;
    color: var(--color-1);
}
.service-min-container-2{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.service-min-container-3{
    width: 100%;
    height: fit-content;
    background-color: var(--color-2);
}
.service-min-container-3 h2{
    padding: 10px;
    text-align: center;
    font-weight: 100;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width:600px) {
    .service-min-container-3 h2{
        font-size: 17px;
    }
    .service-min-container-1{
        
    }
    .service-min-container-1-header{
        font-size: 30px;
    }
    .tech-name{
        
    }
    .service-min-container-1 p{
        color: white;
        font-weight: 450;
    }
    .percent{
        
    }
    .service-min-container-1 button{
        
    }
    
}