*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.signin-container{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-in-error-div-show{
    width: 90%;
    height: 30px;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 2px;
    border: 1px solid red;
    color: red;
}
.sign-in-error-div-hide{
    display: none;
}
.signin-form-container{
    width: 40%;
    min-height: 40vh;
    padding: 70px 0;
    padding-left: 45px;
    background-color: white;
}
.signin-form-container form{

}
.signin-form-container h3{
    color: var(--secondary);
    font-weight: 500;
}
.form-input-signin input{
    width: 90%;
    height: 35px;
    outline: none;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
.signin-form-btn{
    margin-top: 15px;
    display: inline-block;
    font-size: 20px;
    width: 190px;
    padding: 5px;
    outline: none;
    border: none;
    background-color: var(--primary);
    color: white;
    margin-top: 25px;
    cursor: pointer;
    border-radius: 5px;
}
.signin-form-btn:hover{
    background: var(--secondary);
}
.signup-form-text-link{
    color: var(--secondary);
}

@media screen and (max-width:600px) {
    .signin-container{
        padding: 0 10px;
    }
    .signin-form-container{
        width: 100%;
        padding-left: 15px;
    }
    
    .signin-form-container h3{
        font-size: 22px;
        font-weight: 400;
    }
    .form-input-signin input{
        width: 97%;
        font-size: 17px;
    }
    .form-group-signin label{
        font-size: 20px;
    }    
    .sign-in-error-div-show{
        width: 97%;
    }
    .signin-form-btn{
        width: 220px;
        height: 45px;
        margin-top: 25px;
        font-size: 22px;
    }
    .signin-form-btn:hover{
        background: var(--primary);
    }
}   