*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.signup-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;    
}
.signup-form-container{
    width: 40%;
    min-height: 70vh;
    padding: 80px 0;
    padding-left: 60px;
    background-color: white;
}
.signup-form-container form{
    margin-top: 30px;
}
.signup-form-container h3{
    color: var(--color-2);
    font-weight: 500;
}
.form-group-signup{
    margin-top: 10px;
}
.form-input-signup input{
    width: 85%;
    height: 35px;
    outline: none;
    padding: 5px;
}
.signup-form-text{
    font-size: 13px;
    margin-top: 15px;
    color: slategray;
}
.signup-form-text-link{
    color: var(--color-2);
    font-size: 15px;
}
.signup-form-btn{
    margin-top: 15px;
    display: inline-block;
    font-size: 20px;
    width: 190px;
    padding: 5px;
    outline: none;
    border: none;
    background-color: var(--color-2);
    color: white;
    margin-top: 25px;
    cursor: pointer;
}
.signup-form-btn:hover{
    background-color: slategray;
}
.show-errors{
    color: red;
    font-size: 15px;
}


/* small media screens */
@media screen and (max-width:600px){
    .signup-container{
        padding: 0 10px;
    }   
    .signup-form-container{
        width: 100%;
        padding: 40px 0;
        padding-left: 17px;

    }
    .signup-form-container form{

    }
    .signup-form-container h3{
        font-size: 22px;
        font-weight: 400;
    }
    .form-input-signup input{
        width: 97%;
        font-size: 17px;
    }
    .form-group-signup{
        margin-top: 12px;
    }
    .form-group-signup label{
        font-size: 19px;
    }
    .signup-form-text{
        margin-top: 25px;
    }
    .signup-form-btn{
        width: 220px;
        height: 45px;
        margin-top: 25px;
        font-size: 23px;
    }
    .show-errors{
        font-size: 18px;
    }
    .signup-form-btn:hover{
        background: var(--color-2);
    }

}